.msg-admin-main {
  position: fixed;
  right: 60px;
  bottom: 30px;
  height: 90px;
  width: 90px;
  z-index: 100;
}

.msg-admin {
  /* background-image: url(/img/bot.jpg); */
  background-size: cover;
  position: fixed;
  right: 30px;
  bottom: 20px;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(29, 29, 29);
  border-radius: 50%;
  transition: 0.3s;
  z-index: 1000;
}

.msg-admin:hover {
  cursor: pointer;
  right: 30px;
  bottom: 20px;
  height: 50px;
  width: 50px;
}

.msg-admin-2 {
  position: fixed;
  /* background-image: url(/img/heart.jpg); */
  right: 60px;
  bottom: 30px;
  border-radius: 50%;
  animation: moveMsg-2 0.4s linear forwards;
}

.msg-admin-3 {
  right: 400px;
  height: 40px;
  width: 42px;
  border-radius: 2rem;
  position: fixed;
  bottom: 30px;
  animation: moveMsg-3 0.4s linear forwards;
}

.msg-admin-2:hover {
  cursor: default;
}

@keyframes moveMsg-2 {
  to {
    bottom: 40px;
    right: 400px;
    height: 40px;
    width: 42px;
    border: 2px solid #ccc;
    color: #ccc;
  }
}

@keyframes moveMsg-3 {
  to {
    right: 60px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }
}

.msg-admin:hover > .title-admin {
  display: block;
}

.msg-admin-2:hover > .title-admin {
  display: none;
}

.title-admin {
  color: #000000;
  background-color: #fff;
  text-align: center;
  padding: 5px 5px;
  left: -22px;
  top: -40px;
  width: 100px;
  position: absolute;
  display: none;
  font-size: 17px;
}

.screen-msg {
  width: 280px;
  position: absolute;
  font-size: 14px;
  top: -280px;
  left: -210px;
}
.screen-list-msg {
  width: 280px;
  position: absolute;
  font-size: 14px;
  top: -285px;
  left: -210px;
}

.screen-msg-none {
  display: none;
}

#tags-title {
  position: absolute;
  left: 15px;
  top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

#close-msg-admin {
  position: absolute;
  right: 5px;
  top: -5px;
}

#close-msg-admin:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-screen-msg {
  background-color: rgb(77, 143, 242);
  border-radius: 1rem 1rem 0 0;
  height: 40px;
  position: relative;
}
.header-screen-list-msg {
  background-color: rgb(77, 143, 242);
  border-radius: 1rem 1rem 0 0;
  height: 40px;
  position: relative;
}

.body-screen-msg {
  height: 310px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  overflow: auto;
  scroll-behavior: smooth;
  overflow-anchor: none;
}
.body-screen-list-msg {
  height: 330px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  overflow: auto;
  scroll-behavior: smooth;
  overflow-anchor: none;
}

.body-screen-msg::-webkit-scrollbar {
  width: 5px;
}
.body-screen-list-msg::-webkit-scrollbar {
  width: 5px;
}

.body-screen-msg::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 255);
  border-radius: 2rem;
}
.body-screen-list-msg::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 255);
  border-radius: 2rem;
}

.user-chat {
  border-radius: 1rem;
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  padding: 10px;
  min-height: 55px;
  min-width: 70px;
  color: #fff;
  background-color: rgb(0, 174, 255);
  word-break: break-word;
  position: relative;
}
.user-chat-startpoint {
  border-radius: 1rem;
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  padding: 10px;
  min-height: 55px;
  min-width: 70px;
  color: #fff;
  position: relative;
}
.user-chat-endpoint {
  border-radius: 1rem;
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  padding: 10px;
  min-height: 55px;
  min-width: 70px;
  color: #fff;
  position: relative;
}

.user-chat:hover {
  cursor: default;
}

.user-chat::selection {
  background-color: transparent;
}

.user-chat > span {
  width: 0;
  height: 0;
  border-left: 12px solid rgb(0, 174, 255);
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  position: absolute;
  bottom: 20px;
  right: -10px;
}

.user-chat > img {
  width: 40px;
  background-color: rgb(71, 71, 71);
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  bottom: 12px;
  right: -55px;
}

.user-chat > small {
  color: rgb(177, 175, 175);
  position: absolute;
  bottom: -18px;
  left: 0px;
  display: none;
}

.user-chat:hover > small {
  display: block;
}

.admin-message {
  border-radius: 1rem;
  padding: 10px;
  /* min-width: px; */
  float: left;
  color: rgb(0, 0, 0);
  background-color: #ccc;
}
.admin-feed {
  border-radius: 1rem;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  padding: 10px;
  min-height: 55px;
  min-width: 70px;
  background-color: #ccc;
  word-break: break-word;
  position: relative;
}

.admin-feed > span {
  width: 0;
  height: 0;
  border-right: 12px solid #ccc;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  position: absolute;
  bottom: 10px;
  left: -9.5px;
}
.admin-icon {
  position: absolute;
  top: -18px;
  left: 9px;
  font-size: 14px;
}

.admin-feed > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  bottom: 12px;
  left: -55px;
}

.admin-feed > small {
  color: rgb(177, 175, 175);
  position: absolute;
  bottom: -18px;
  right: 0px;
  display: none;
}

.admin-feed:hover > small {
  display: block;
}

.foot-screen-msg {
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
}

.laugh {
  position: absolute;
  right: 17px;
  font-size: 15px;
  color: rgb(173, 172, 172);
}

.laugh > span {
  position: relative;
}

.laugh > span > span {
  position: absolute;
  font-size: 14px;
  top: -40px;
  left: -10px;
  width: 95px;
  padding: 4px;
  color: #fff;
  text-align: center;
  background-color: #383737;
  display: none;
}
.laugh > span > span::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 12px solid #383737;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  bottom: -12px;
  left: 10px;
}
.laugh > span:hover {
  cursor: pointer;
  color: rgb(131, 130, 130);
}

.laugh > span:hover > span {
  display: block;
}

#enter-msg {
  width: 90%;
  padding-left: 20px;
  padding-right: 30px;
  outline: none;
  border: none;
}

.loading {
  font-weight: 1000;
  display: flex;
  justify-content: center;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
